body{
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
}
header{
    position: static;
}
main ul{
    width: 800px;
    margin: 0 auto;
}

main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
}
main li img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
.content{
    padding: 25px;
}
