#hero{
    height: 800px;
    background-image: url("images/places/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content{
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0px;
    margin: 0px auto;
    position: relative;
    top: 205px;
}

#hero-content h1{
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px;
}

#hero-content p{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 33px;
}
#hero-content a{
    background-color: rgb(255, 251, 0);
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#hero-content a:hover{
    background-color: rgb(255, 228, 0);
}
#Highlight{
    padding: 24px;
    background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202,243,240));
}
#Highlight h2{
    color: rgb(59, 65, 64);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 24px 0;
}
#dest{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
.dest{
    margin: 0px 30px;
}

.dest p{
    color: rgb(124, 123, 123);
    margin: 20px 0px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.dest strong{
    color: rgb(0, 160, 117);
}
.dest img{
    height: 200px;
    width: 110%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}