#hero{
    height: 800px;
    background-image: url("images/places/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content{
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0px;
    margin: 0px auto;
    position: relative;
    top: 205px;
}